In [1]:
import pandas as pd
df = pd.read_csv('movies.csv', sep=';', encoding = "ISO-8859-1")
df.drop(0, inplace=True)

In [16]:
# Z1
df['Year'] = df['Year'].astype(int)
df.loc[df["Year"]==2000]

Empty DataFrame
Columns: [Year, Length, Title, Subject, Actor, Actress, Director, Popularity, Awards, *Image]
Index: []

In [24]:
# Z2
mask = pd.notna(df['Length'])
no_null_length_df = df[mask]
no_null_length_df.loc[:,'Length'] = no_null_length_df['Length'].astype(int)
no_null_length_df.groupby(by='Director')['Length'].mean()

Director
Abrahams, Jim             95.5
Adolphson, Edvin          75.0
Alda, Alan               105.5
Aldrich, Robert          116.6
Allegret, Marc            99.0
                       ...
Zieff, Howard            103.0
Zinnemann, Fred     101.666667
Zucker, David             90.0
Zucker, Jerry            127.0
Zwick, Edward            113.0
Name: Length, Length: 747, dtype: object

In [27]:
# Z3
df_3cols = df.loc[:, ['Title', 'Director', 'Popularity']]
df_3cols.to_csv('movies_3cols.csv', sep=';')

In [49]:
# Z4
count = len(df)
df.groupby('Awards').count()['Title']/count*100

Awards
No     90.174804
Yes     9.825196
Name: Title, dtype: float64

In [30]:
# Z5
mask = pd.notna(df['Director'])
no_null_directors_df = df[mask]
no_null_directors_df[no_null_directors_df['Director'].str.contains("Kubrick")]

,Year,Length,Title,Subject,Actor,Actress,Director,Popularity,Awards,*Image
368,1980,144,"Shining, The",Horror,"Nicholson, Jack","Duvall, Shelley","Kubrick, Stanley",32,No,JackNicholson.png
619,1955,67,Killer's Kiss,Mystery,"Silvera, Frank","Kane, Irene","Kubrick, Stanley",66,No,NicholasCage.png
745,1962,150,Lolita,Drama,"Mason, James","Lyon, Sue","Kubrick, Stanley",80,No,NicholasCage.png
812,1957,89,Paths of Glory,Drama,"Douglas, Kirk","Menjou, Adolphe","Kubrick, Stanley",47,No,NicholasCage.png
1063,1960,185,Spartacus,Drama,"Douglas, Kirk","Simmons, Jean","Kubrick, Stanley",67,Yes,NicholasCage.png
1185,1968,139,2001: A Space Odyssey,Science Fiction,"Dullea, Keir","Tyzack, Margaret","Kubrick, Stanley",83,No,NicholasCage.png
1242,1956,83,"Killing, The",Drama,"Hayden, Sterling","Windsor, Marie","Kubrick, Stanley",51,No,NicholasCage.png
1383,1971,138,A Clockwork Orange,Science Fiction,"McDowell, Malcolm",NaN,"Kubrick, Stanley",83,Yes,NicholasCage.png
1384,1991,117,Full Metal Jacket,War,"Modine, Matthew",NaN,"Kubrick, Stanley",45,No,NicholasCage.png

In [45]:
# Z6
mask = pd.notna(df['Popularity'])
no_null_pop = df[mask]
no_null_pop.loc[:, 'Popularity'] = no_null_pop['Popularity'].astype(int)
comedy_no_null_pop = no_null_pop.loc[no_null_pop['Subject']=='Comedy']
comedy_no_null_pop.groupby(by='Subject').sum()['Popularity']

Subject
Comedy    16489
Name: Popularity, dtype: object